<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <p class="flow-text center-align">A project made for freeCodeCamp</p>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-4 center-align">
    <p class="center-align copyright">© 2018 Panagiotis Zisis</p>
  </div>
</footer>