<!DOCTYPE html>
<html>

<head>
  <title>
    P-clone: Share awesome pictures!
  </title>
  <% include ./partials/headContent %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <main>

    <% include ./partials/navbar %>

    <div class="hero z-depth-5">
      <h1 class="heroHeader center-align z-depth-1 flow-text">Share awesome pictures!</h1>
    </div>

    <div class="userStories z-depth-1">
      <div class="section">
        <h2 class="header center-align">User Stories</h2>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col m6">
              <ul>
                <li class="flow-text">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  As an unauthenticated user, I can login with Twitter.</li>
                <li class="flow-text listSpacing">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  As an authenticated user, I can link to images.</li>
                <li class="flow-text listSpacing">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  As an authenticated user, I can delete images that I've linked to.</li>
              </ul>
            </div>
            <div class="col m6">
              <ul>
                <li class="flow-text">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  As an authenticated user, I can see a Pinterest-style wall of all the images I've linked to.</li>
                <li class="flow-text listSpacing">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  As an unauthenticated user, I can browse other users' walls of images.</li>
                <li class="flow-text listSpacing">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  As an authenticated user, if I upload an image that is broken, it will be replaced by a placeholder image.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="visitUsers blue-grey lighten-4 z-depth-1">
      <div class="section">
        <h1 class="header center-align">Visit Users' Walls</h1>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="input-field col s12 m6 offset-m3">
              <select class="icons">
                <% if (!users || users.length === 0) { %>
                  <option value="" disabled selected>No users yet</option>
                <% } else { %>
                  <option value="" disabled selected>Pick a user</option>
                  <% users.forEach(function(user) { %>
                    <option value="<%= user.twitterId %>" data-icon="<%= user.photo %>" class="left circle"><%= user.name %></option>
                  <% }) %>
                <% } %>
              </select>
              <label>All users of P-clone</label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <% include ./partials/footer %>

  <% include ./partials/scripts %>
  <script src="/javascripts/index.js"></script>
</body>

</html>