body {
  color: rgba(0, 0, 0, 0.85);
  background-color: #cfd8dc;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.userHeader {
  margin: 50px 0;
}

.userName {
  margin: 0;
}

.grid {
  margin-bottom: 30px;
}

.grid-item {
  // need media queries for phones
  width: 200px;
  margin-right: 10px;
  margin-bottom: 5px;
}
